*{
    margin: 0;
    padding: 0;
}


.wrapper {
    background: url(/order-summary-component-main/images/pattern-background-desktop.svg)  ;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-repeat: repeat-x;
    
}
.box {
    background-color: rgb(241, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 550px ;
    height: 620PX;
    width: 400px;
    border-radius: 20px;
}
.box img{
    height: 200px;
    width: 400px;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
}

.box h1 {
    margin-top: 30px;
    color: hsl(223, 47%, 23%);

}
.box p{
    margin-top: 25px;
    margin-left: 20px;
    color:  hsl(224, 23%, 55%);
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;

}
.plan{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 50px;
    width: 350px;
    padding: 10px;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 10px;
    background-color: hsl(220, 20%, 94%);

}


.btn div{
    border-radius: 4px;
    background-color: hsl(220, 20%, 94%);
    color: hsl(224, 86%, 22%);
    margin-top: 5px;
    font-size: 16px;
    text-decoration: underline;
}
.plan img{
    height: 50px;
    width: 50px;
}
.plan h3 {
    display: flex;
    flex-direction: row;
    
}
.plan div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.payment {
    margin-top: 20px;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    box-shadow: rgb(212, 206, 206) 5px 10px;
}

.cancel {
    margin-top: 20px;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: hsl(220, 20%, 94%);
   
    
}

.cancel:hover, .payment:hover, .btn:hover{
    cursor: pointer;
}


    